html {
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.7;
}

.dark body {
  @apply bg-[#0d0d0d] text-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', Arial, sans-serif;
  line-height: 1.2;
}

p {
  @apply md:text-lg dark:text-[#bdc1c6];
  line-height: 1.7;
}

.font-heading {
  font-family: 'DM Sans', Arial, sans-serif;
}

.section {
  @apply block scroll-mt-[160px];
  
  @media (max-width: 767px) {
    @apply scroll-mt-[66px];
  }

  &.visible {
    @apply scroll-mt-[110px];

    @media (max-width: 767px) {
      @apply scroll-mt-[16px];
    }
  }
}

.container {
  @apply mx-auto max-w-full lg:max-w-[1432px];
}

.buttons {
  @apply flex gap-4;
}

.button {
  @apply flex items-center px-6 md:px-4 py-[9px] bg-primary hover:bg-primary-hover text-white transition-all border border-transparent font-medium rounded-lg leading-[26px];

  &.large {
    @apply px-8 py-3 text-lg h-[56px];
  }
}

.link {
  @apply flex items-center px-6 md:px-4 py-[9px] border border-transparent hover:underline text-lg font-medium leading-[26px];

  &.large {
    @apply px-4 py-3 text-lg h-[56px];
  }
}

.svg-block {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  svg {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%) translateY(-50%);
  }
}
.svg-wrap {
  .nuxt-icon {
    display: block;

    svg {
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
  }
}

.social {

  .nuxt-icon {
    svg {
      height: 32px;
      width: auto;
      margin-bottom: 0;
  
      @media (min-width: 640px) {
        height: 24px;
      }
    }
  }
}

.animate:not(.banner) {
  opacity: 0;
  transform: translateY(50px);
  transition: transform .3s ease-out, opacity .3s ease-out;
  transition-delay: .6s;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.95)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}